/*
	DENTAL+ THEME
	Created By: Maciej Kwas
	http://themeforest.net/user/prowseed
*/

/*@import url(http://fonts.googleapis.com/css?family=Kreon|Oswald);*/
@import url(blog.css);
@import url(popup.css);
@import url(404.css);


/* 
- QUICK RESET / line #26
- GLOBAL MODIFIERS / line #30
- GRID / line #155
- TOOLTIPS / line #205
- HEADER / line #305
- MAIN MENU / line #427
- BREADCRUMBS / line #515
- MAIN CONTAINER / line #542
- ELEMENTS / line #1001
- FOOTER / line #1138
- GOOGLE MAPS HIDDEN CONTAINER HACKS FOR MODAL WINDOW / line #1204
- MEDIA QUERIES RULES FOR SMALL VIEWPORTS / line #
*/


/* QUICK RESET
	----------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, cite, code, del, dfn, img, ins, kbd, q, s, samp, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;list-style: none;}

/* GLOBAL MODIFIERS
	----------------------------------------------------------------*/
html {
	background: #f2eee2;
	}
body {
	font: 16px Arial, Helvetica, sans-serif;
	line-height:28px;
	text-align:left;
	}
:focus {
	outline: 0;
	}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	}
h2 {
	font: 30px/40px Georgia, "Times New Roman", Times, serif;
	}
h3 {
	font: 24px/28px Georgia, "Times New Roman", Times, serif;
	margin-bottom:35px;
	}
h4 {
	color:#17c7d1;
	font: 18px/24px Georgia, "Times New Roman", Times, serif;
	margin-bottom:20px;
	}
h5 {
	font: 16px/20px Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	margin-bottom:20px;
	}
p {
	color:#333;
	}
a {
	color:#aeadae;
	}
a:hover{
	color:#17c7d1;
}
hr {
	border:none;
	border-top:1px dotted #B7A497;
	display: block;
	height: 0px;
	width:100%;
}
.button {
	text-align:right !important;
	display:inline-block;
	float:right;
	line-height:27px;
	color:#2f2417;
	text-decoration:none;
	margin-top:20px;
	}
.button span {
	position:relative;
	background-color:#2f2417;
	display:inline-block;
	width:27px;
	height:27px;
	border-radius:14px;
	font-size:16px;
	color:#fff;
	text-align:center;
	margin-left:12px;
	-webkit-transition: background-color 200ms ease-in;
	-moz-transition: background-color 200ms ease-in;
	-o-transition: background-color 200ms ease-in;
	-ms-transition: background-color 200ms ease-in;
	transition: background-color 200ms ease-in;
	}
.button:hover{color:#17c7d1;}
.button:hover span {
	background-color:#17c7d1;
	}
.button:hover span:after {
	content:' ';
	border: 1px solid #17c7d1;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	position:absolute;
	left:-5px;
	top:-5px;
	}
.center {
	text-align:center;
	}
.right {
	text-align:right;
	}
.nowrap {
	margin-left:66px;
	}
.toleft {
	float:left !important;
	}
.toright {
	float:right !important;
	}
.white {
	color:#fff !important;
	text-shadow: 0px 2px 3px rgba(113,68,43,.26);
	}
.margintop {
	margin-top:50px;
	}
.marginbottom {
	margin-bottom: 35px;
	}
.marginright {
	margin-right:20px;
	}
.marginleft { /* added for intelident */
	margin-left:20px;
	}
::selection {
	background: #f8a02f;
	}
::-moz-selection {
	background: #f8a02f;
	color:#FFF;
}

/* GRID
	----------------------------------------------------------------*/
.main {
	margin-left:auto;
	margin-right:auto;
	width:980px;
	font-size: 0.9em;
	}
	
.grid1, .grid15, .grid2, .grid3, .grid4, .grid45, .grid5, .grid6, .grid33 {
	display: inline;
	float: left;
	margin-left: 20px;
	}

.grid1 {width:140px;}
.grid2 {width:300px;}
.grid3 {width:460px;}
.grid4 {width:620px;}
.grid5 {width:780px;}
.grid6 {width:940px;margin-bottom:10px;}

.grid15 {width:220px;}
.grid45 {width:700px;}

.grid33 {width:33%;}

.margin1 {margin-left:180px;}
.margin2 {margin-left:340px;}
.margin3 {margin-left:500px;}
.margin4 {margin-left:660px;}
.margin5 {margin-left:820px;}

.inside {margin-left:0;}

img.fit {
	max-width: 100%;
	height: auto;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important; 
	}

@media only screen and (min-width: 720px) and (max-width: 979px) {
	.main {
		margin-left:auto;
		margin-right:auto;
		width:720px;
		}
	
	.grid1 {width:100px;}
	.grid2 {width:220px;}
	.grid3 {width:340px;}
	.grid4 {width:460px;}
	.grid5 {width:580px;}
	.grid6 {width:700px;}

	.grid15 {width:160px;}
	.grid45 {width:520px;}

	.margin1 {margin-left:140px;}
	.margin2 {margin-left:260px;}
	.margin3 {margin-left:380px;}
	.margin4 {margin-left:500px;}
	.margin5 {margin-left:620px;}
	}

@media only screen and (max-width: 719px) {
	.main {
		width:90%;
		}
	
	.grid1, .grid15, .grid2, .grid3, .grid4, .grid45, .grid5, .grid6 {
		width:100%;
		margin-left: 0px;
		}

	.margin1, .margin2, .margin3, .margin4, .margin5 {margin-left:0;}
	}

/* ONLY for presentation purposes, could be deleted */
.presentation p {
	border:1px solid #E3DAC4;
	border-radius: 3px;
	background:#E9E1CA;
	color:#565351;
	text-shadow: 0 1px 0 rgba(255,255,255,.4);
	overflow:hidden;
	padding:10px 0;
	text-align:center;
	font-size:12px;
	margin-top:20px;
	margin-bottom: 10px;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	}
.presentation p:hover {
	-moz-box-shadow:0px 0px 10px #E3DAC4;
	-webkit-box-shadow:0px 0px 10px #E3DAC4;
	box-shadow:0px 0px 10px #E3DAC4;
	}

/* TOOLTIPS
	----------------------------------------------------------------*/
a.tooltip {
	position: relative;
	display: inline-block;
	}
a.tooltip span {
	position: absolute;
	font-size:14px;
	width: 144px;
	padding: 20px 8px;
	left: 50%;
	margin-left: -80px;
	text-align: center;
	visibility:hidden;
	opacity:0;
	background: #432e1a;
	color: #FFF;
	border-radius: 3px;
	bottom: 100%;
	margin-bottom:10px;
	text-shadow:none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	}
a.tooltip span:after {
	content: '';
	position: absolute;
	bottom: -8px;
	left: 50%;
	margin-left: -9px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #432e1a;
	}
a:hover.tooltip span {
	visibility:visible;
	opacity:1;
	z-index: 98;
	}
/* COLOUR VERSIONS */
a.tooltip.red span {
	background: #E35B2D;
	}
a.tooltip.red span:after {
	border-top: 8px solid #E35B2D;
}
a.tooltip.orange span {
	background: #EEA663;
	}
a.tooltip.orange span:after {
	border-top: 8px solid #EEA663;
}
a.tooltip.yellow span {
	background: #F8AF25;
	color:#333;
	}
a.tooltip.yellow span:after {
	border-top: 8px solid #F8AF25;
}
a.tooltip.green span {
	background: #D6D20E;
	color:#333;
	}
a.tooltip.green span:after {
	border-top: 8px solid #D6D20E;
}
a.tooltip.lightblue span {
	background: #AFD3E9;
	color:#333;
	}
a.tooltip.lightblue span:after {
	border-top: 8px solid #AFD3E9;
}
a.tooltip.royalblue span {
	background: #678991;
	}
a.tooltip.royalblue span:after {
	border-top: 8px solid #678991;
}
a.tooltip.dull span {
	background: #C7CCD0;
	color:#333;
	}
a.tooltip.dull span:after {
	border-top: 8px solid #C7CCD0;
}
a.tooltip.light span {
	background: #FFFFFF;
	color:#333;
	}
a.tooltip.light span:after {
	border-top: 8px solid #FFFFFF;
}
	
/* HEADER
	----------------------------------------------------------------*/
#header {
	height:610px;
	position:relative;
/*	background:#ffad40 url('../images/home-bg1.jpg') center top no-repeat;*/
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
	}
#smallheader {
	height:280px;
	position:relative;
	background:#ffad40 url('../images/small-bg1.jpg') center top no-repeat;
	width:100%;
	}
.headerimg {
	background-position: center top;
	background-repeat: no-repeat;
	width:100%;
	height:610px;
	position:absolute;
	}
#name a {
	margin-top:42px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#fff;
	font-size:46px;
	text-shadow: 0px 2px 3px rgba(113,68,43,.26);
	text-decoration:none;
	line-height:63px;
	}
ul.topsocial {
	float:right;
	height:24px;
	margin-top:18px;
	margin-bottom:32px;
	}
ul.topsocial li {
	display:inline-block;
	margin-left:20px;
	}
ul.topsocial li a {
/*	opacity:.7;*/
	color:#ffffff;
	text-decoration:none;
	}
ul.topsocial li a:hover {
	opacity:1;
		color:#ffeec9;
	text-decoration:none;
	}
.bx-prev {
	position:absolute;
	background:url('../images/slider-nav.png') left top no-repeat;
	text-indent:-999px;
	overflow:hidden;
	width:114px;
	height:118px;
	bottom:0;
	left:0;
	cursor:pointer;
	z-index: 9;
	}
.bx-next {
	position:absolute;
	background:url('../images/slider-nav.png') right top no-repeat;
	text-indent:-999px;
	overflow:hidden;
	width:114px;
	height:118px;
	bottom:0;
	right:0;
	cursor:pointer;
	z-index: 9;
	}
.pager-container {
	z-index: 8;
	position: absolute;
	bottom: 20px;
	width: 100%;
	}
.pager-container .bx-pager {
	text-align: center;
	}
.pager-container .bx-pager .bx-pager-item,
.pager-container .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	}
.caption {
	/*font-family: 'Oswald', sans-serif;*/
	font-family:'ancona-cdregular', sans-serif;
	font-weight: 400;
	font-size:60px;
	line-height:50px;
	text-transform:uppercase;
	margin-top:110px;
	}
.caption span {
	display:block;
	/*text-shadow: 0px 2px 3px rgba(113,68,43,.26);*/
	}
.firstline {
	color:#17C7D1;
	}
.secondline {
	color:#fff;
	}
.description {
	color:#2f2417;
	margin-top:35px;
	line-height:24px;
	}
#band {
	width:100%;
	height:23px;
	position:absolute;
	bottom:0;
	left:0;
	background:url('../images/band.png') left bottom repeat-x;
	z-index: 10;
	}
	
/* MAIN MENU
	----------------------------------------------------------------*/
ul#menuglowne {
	position:relative;
	list-style:none;
	height:63px;
	display:block;
	background:#fadea3 url('../images/menu.png') center center no-repeat;
	border-radius: 4px;
	-moz-box-shadow:0px 2px 3px rgba(113,68,43,.26);
	-webkit-box-shadow:0px 2px 3px rgba(113,68,43,.26);
	box-shadow:0px 2px 3px rgba(113,68,43,.26);
	}
ul#menuglowne li {
	position:relative;
	float: left;
	}
ul#menuglowne li a.item {
	display: block;
	height: 30px;
	padding: 10px 18px;
	background: none;
	text-decoration: none;
	margin:7px 5px 0;
	font: 14px/30px Arial, sans-serif;
	color:#2f2f2b;
	}
ul#menuglowne li:hover a.item {
	background:rgba(142,88,28,0.03);
	}
	
/* DROPDOWN */
	
ul#menuglowne li ul.sub {
	opacity:0;
	visibility: hidden;
	position: absolute;
	top: 50px;
	left: -10px;
	border-top: 4px solid #f6da9e;
	border-bottom: 4px solid #f6da9e;
	border-radius: 0 0 4px 4px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	}
ul#menuglowne li:hover ul.sub {
	display: block;
	visibility: visible;
	opacity:1;
	position: absolute;
	top: 50px;
	left: 10px;
	background: #f6da9e;
	z-index:9990;
	}
ul#menuglowne li ul.sub li {
	width: 180px;
	border-bottom: 1px dotted #fceec2;
	position: relative;
	}
ul#menuglowne li ul.sub li:last-child {
	border-bottom: none;
	}
ul#menuglowne li ul.sub li:hover {
	background: #fceec2;
	}
ul#menuglowne li ul.sub li:hover:after {
	content: '';
	position: absolute;
	border: 0;
	}
ul#menuglowne li ul.sub li a {
	display: block;
	color: #b87f1c;
	font: normal 12px/20px Arial, sans-serif;
	padding: 10px;
	background: none;
	text-decoration: none;
	margin-right:20px;
	}
ul#menuglowne li ul.sub li a:hover {
	background: #fceec2;
	}
	
/* MOBILE SELECT MENU */

div.menumobile {
	display:none;
	height:63px;
	line-height:63px;
	background:#fadea3 url('../images/menu.png') center center no-repeat;
	border-radius: 4px;
	-moz-box-shadow:0px 2px 3px rgba(113,68,43,.26);
	-webkit-box-shadow:0px 2px 3px rgba(113,68,43,.26);
	box-shadow:0px 2px 3px rgba(113,68,43,.26);
	text-align:center;
	}
div.menumobile select {
	background-color: #F8D66C;
	border: 1px solid #E1A969;
	width: 80%;
	height: 30px;
	line-height: 30px;
	border-radius: 4px;
	color: #555555;
	display: inline-block;
	font-size: 14px;
	margin: 0 35px;
	padding: 4px 6px;
	vertical-align: middle;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	}


/* BREADCRUMBS
	----------------------------------------------------------------*/
#breadcrumbs {
	margin-top:80px;
	}
#breadcrumbs li {
	display:inline-block;
	margin-right:10px;
	}
#breadcrumbs li:after {
	content:' \203A';
	color:#8f5d22;
	}
#breadcrumbs li:last-child:after {
	content:'';
	}
#breadcrumbs li a {
	color:#2F2417;
	text-decoration:none;
	margin-right:10px;
	font-size:14px;
	}
#breadcrumbs li a:hover {
	border-bottom:1px solid #2F2417;
	}


/* MAIN CONTAINER
	----------------------------------------------------------------*/
#maincontent {
	margin-top:30px;
	margin-bottom:20px;
	}
#slogan {
	text-align:center;
	background:#f2e8d5 url('../images/lowerband.png') left bottom repeat-x;
	color:#2f2f2b;
	}
#slogan h2 {
	margin: 60px 0 15px;
	}
#slogan p {
	margin-bottom:40px;
	}
#steps {
	position:relative;
	width:100%;
	background:#fff;
	}
.step {
	text-align:center;
	padding-top:145px;
	}
.step {
	font-size:14px;
	margin-bottom:80px;
	}
.step h3, .step p {
	margin-left:10px;
	margin-right:10px;
	}
.step.first {
	background: url('../images/step-first.png') center top no-repeat;
	}
.step.second {
	background: url('../images/step-second.png') center top no-repeat;
	}
.step.third {
	background: url('../images/step-third.png') center top no-repeat;
	}
.bottombar {
	border-top:8px solid #f3a34a;
	position:relative;
	width:100%;
	background-color:#ffad40;
	}
#location {
	min-height:450px;
	background-image: url('../images/map.png');
	background-position:center top;
	background-repeat:no-repeat;
	}
#location h1 {
	margin-top:42px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#fff;
	font-size:46px;
	text-shadow: 0px 2px 3px rgba(113,68,43,.26);
	line-height:63px;
	}
#location a {
	color:#2f2417;
	}
#contact_map {
	width:600px;
	border:10px solid #FFF;
	height:350px;
}
.testimonials {
	position:absolute;
	bottom:100px;
	left:50%;
	margin-left:-470px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	}
.testimonials h3 {
	color:white;
	text-shadow: 0px 2px 3px rgba(113,68,43,.26);
	margin-bottom:0px;
	margin-top:20px;
	}
.testimonials p {
	border-left: 1px solid #fff;
	padding: 30px 0 30px 30px;
	}
.testimonials p span {
	display:block;
	font-size:12px;
	font-style:italic;
	}
.testbutton {
	position:absolute;
	right:0;
	bottom:-65px;
	}
#rings {
	width:339px;
	height:338px;
	background:url('../images/rings.png') center center no-repeat;
	position:absolute;
	top:170px;
	margin-top:-110px;
	left:50%;
	margin-left:-100px;
	}
@keyframes resize {
	0% {
		padding: 0;
		}
	100% {
		padding: 10px;
		margin-left:-10px;
		margin-top:-10px;
		}
	}
@-webkit-keyframes resize {
	0% {
		padding: 0;
		}
	100% {
		padding: 10px;
		margin-left:-10px;
		margin-top:-10px;
		}
	}
.pulsing-ring{
	border: 3px solid #FFFFFF;
	border-radius: 50%;
	height: 21px;
	width: 21px;
	position:absolute;
	left:157px;
	top:156px;
	-webkit-animation-name: resize;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
	animation-name: resize;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;

	}
#circle-contact, #circle-zoom, #circle-team {
	position:absolute;
	top:0;
	left:50%;
	}
#circle-contact{
	margin-top:60px;
	margin-left:-150px;
	}
#circle-zoom {
	margin-top:138px;
	margin-left:144px;
	min-width:200px;
	}
#circle-zoom .button {
	float:left;
	}
#circle-team {
	margin-top:250px;
	margin-left:-248px;
	}
.vertical-line {
	background:url('../images/sidebar.jpg') 302px 0px repeat-y;
	}
.sidebar h3 {
	background:url('../images/sidebar-h3.jpg') 0px -62px repeat-x;
	margin-right:9px;
	}
.sidebar h3 span {
	background:#f2eee2;
	padding-right:30px;
	}
.sidebar ul li h4 {
	margin-right:40px;
	}
.sidebar ul li h4 a {
	text-decoration:none;
	}
.sidebar ul li h4 a:hover {
	color:#17c7d1;
	}
.sidebar ul li span {
	color:#373737;
	font-size:13px;
	}
	
.sidebar ul li h4 span {
 font: 24px/28px Georgia,"Times New Roman",Times,serif;
}
	
.content {
	margin-top:13px;
	}
.small-list {
	font-size:14px;
	}
.small-list li a {
	text-decoration:none;
	}
.small-list li a:hover {
	text-decoration:underline;
	}
.small-list li a:before {
	content:"\2022\2003";
	}
.roundimg {
	display:inline-block;
	border-radius:50%;
	/*border:10px solid #eee9df; /* Just because chrome [v23] can't render altogether border and border-radius on img elements we have to use a workaround with borderimg class */
	}
.borderimg {
	box-shadow: 0 0 0 10px #eee9df;
	margin-top:10px;
	margin-left:10px;
	}
.mixedlist {
	text-align:center;
	}
.mixedlist h3 {
	margin-top:20px;
	margin-bottom:35px;
	}
.mixedlist > div:nth-child(2n) img {
	float:left;
	margin-right:30px;
	margin-bottom:20px;
	}
.mixedlist > div:nth-child(2n), .mixedlist > div:nth-child(2n+1) {
	margin-top:50px;
	}
.mixedlist > div:nth-child(2n+1) img {
	float:right;
	margin-left:30px;
	margin-bottom:20px;
	}
.mixedlist > div:nth-child(1) {
	margin-top:0;
	}
.warning {
	background:rgba(66,44,22,0.05) url(../images/assets/warning.png) 40px 50% no-repeat;
	padding:20px 20px 20px 140px;
	font-size:12px;
	}
#app-form input[type="text"] {
	background:white;
	border:0;
	padding:10px;
	line-height:20px;
	border-radius:25px;
	width:280px;
	margin-bottom:35px;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.24);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.24);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.24);
	}
#app-form input[type="submit"], .rounded-submit {
	background:#F6A828;
	border:1px solid #FE8122;
	display:inline-block;
	border-radius:20px;
	font-size:12px;
	font-weight:bold;
	padding:7px 10px;
	color:#2F2417;
	text-align:center;
	cursor:pointer;
	min-width:100px;
	}
#app-form input[type="submit"]:hover, .rounded-submit:hover {
	background:#FE7F29;
	color:#F0F0F0;
	background: -moz-linear-gradient(top, #fea639 0%, #fe7f29 100%);
	background: -webkit-linear-gradient(top, #fea639 0%,#fe7f29 100%);
	background: -o-linear-gradient(top, #fea639 0%,#fe7f29 100%);
	background: -ms-linear-gradient(top, #fea639 0%,#fe7f29 100%);
	background: linear-gradient(top, #fea639 0%,#fe7f29 100%);
	}
.box {
	border:1px solid #E3DAC4;
	border-radius: 3px;
	background:#FFF;
	color:#565351;
	text-shadow: 0 1px 0 rgba(255,255,255,.4);
	padding:10px 0;
	margin-bottom: 30px;
	-moz-box-shadow: 0 3px 2px rgba(0,0,0,.14);
	-webkit-box-shadow: 0 3px 2px rgba(0,0,0,.14);
	box-shadow: 0 3px 2px rgba(0,0,0,.14);
	}
.box p {
	margin:20px;
	}
.box h5{
	padding-left:20px;
	padding-right:20px;
	margin-top:10px;
	padding-bottom:20px;
	border-bottom:1px solid #DEDEDE;
	}
.dropcaps:first-letter {
	font-size:300%;
	display:inline-block;
	float:left;
	margin: 10px 5px 5px 0;
	}
.highlight {
	background:#F8D66C;
	color:#2F2417;
	padding: 1px 3px;
	border-radius:3px;
	}
.highlight:hover{
	background:#2F2417;
	color:#F8D66C;
}

/* CUSTOM DROPDOWN STYLING */
.cd-dropdown,
.cd-select {
	position: relative;
	width: 300px;
	display: block;
}
.cd-dropdown > span {
	width:280px;
	line-height: 20px;
	padding:10px;
	margin-bottom:35px;
	background:white;
	display:block;
	position:relative;
	cursor:pointer;
	border:0;
	border-radius:25px;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.24);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.24);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.24);
	font-size:13px;
	font-weight:400;
}
.cd-dropdown > span:after {
	content: '\25BC';
	position: absolute;
	right: 0px;
	top: 0px;
	width: 30px;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	height: 20px;
	line-height: 20px;
	border-left: 1px solid #ddd;
}
.cd-dropdown.cd-active > span:after {
	content: '\25B2';
}
.cd-dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	border-radius: 30px;
	background:rgba(255,255,255,.75);
	
}
.cd-dropdown ul li {
	display: block;
}
.cd-dropdown ul li span {
	width: 200px;
	padding:0 10px 0 20px;
	margin-left: 10px;
	background: #fff;
	line-height: 40px;
	display: block;
	color: #bcbcbc;
	cursor: pointer;
	font-size:13px;
	border-radius:25px;
}
.cd-dropdown > span,
.cd-dropdown ul li span {
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Select fallback styling */
.cd-select {
	border: 1px solid #ddd;
}
.cd-dropdown ul {
	position: absolute;
	top: 0px;
	width: 250px;
	z-index: 500;
}
.cd-dropdown > span,
.cd-dropdown ul li span {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.cd-dropdown ul li {
	position: absolute;
	width: 250px;
	pointer-events: none;
}
.cd-active.cd-dropdown > span {
	color: #F56F41;
}
.cd-active.cd-dropdown ul li {
	pointer-events: auto;
}
.cd-active.cd-dropdown ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
.cd-active.cd-dropdown ul li span:hover {
	background: #F5965C;
	color: #000;
}

/* Gallery slider */
.gallery-slider {
	height:140px;
}
.gallery-slider a {
	width:120px;
	height:120px;
	border-color:#E18A55;
	border:10px solid #E18A55;
}
.gallery-slider a img {
	box-shadow: 0 0 0 0 #E18A55;
	border-radius:50%;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.gallery-slider a:hover img {
	box-shadow: 0 0 0 4px #fff;
}





/* ELEMENTS: TABLE
	----------------------------------------------------------------*/

table.table {
	width:auto;
	border-collapse: separate;
	border-spacing: inherit;
	margin:0; 
	padding:0;  
	}
table.table th {
	padding: 15px;
	border-left:1px solid #ffcc87;
	border-top:1px solid #FFF;
	background: #f7bc77;
	background: -moz-linear-gradient(top, #f7bc77 0%, #e18a56 100%);
	background: -webkit-linear-gradient(top, #f7bc77 0%,#e18a56 100%);
	background: -o-linear-gradient(top, #f7bc77 0%,#e18a56 100%);
	background: -ms-linear-gradient(top, #f7bc77 0%,#e18a56 100%);
	background: linear-gradient(to bottom, #f7bc77 0%,#e18a56 100%);
	text-shadow:0 1px 0 rgba(255,255,255,.6);
	border-bottom:1px solid rgba(0,0,0,.1);
	box-shadow:0 1px 1px rgba(60,50,0,.4);
	}
table.table th:last-child {
	border-right:1px solid #E7E2D7;
	border-top-right-radius:10px;
	}
table.table th:first-child {
	border-top-left-radius:10px;
	}
table.table td {
	padding: 15px;
	text-align: left;
	font-size:13px;
	margin:10px;
	border-bottom:1px solid #E7E2D7;
	border-left:1px solid #E7E2D7;
	line-height:20px;
	background: rgba(255,255,255,.24);
	}
table.table tr:last-child td:first-child {
    border-bottom-left-radius:10px;
	}
table.table tr td:last-child {
	border-right:1px solid #E7E2D7;
	}
table.table tr:last-child td:last-child {
    border-bottom-right-radius:10px;
	}

/* ELEMENTS: BLOCKQUOTE
	----------------------------------------------------------------*/
.smallquote {
	float:left;
	width:29%;
	min-width:140px;
	font-family:Georgia, "Times New Roman", Times, serif;
	line-height:22px;
	padding: 10px;
	margin: 10px 15px 10px 0;
	font-style:italic;
	border-left:4px solid #F5BD77;
	}

/* ELEMENTS: ACCORDION
	----------------------------------------------------------------*/
.accordion dt:first-child {
	border-radius:10px 10px 0 0;
	}
.accordion dd {
	padding:10px 20px;
	background:#fff;
	}
.accordion dt:last-child {
	border-radius: 0 0 10px 10px;
	}
.accordion a {
	display: block;
	text-decoration:none;
	padding: 10px 20px;
	color:#272727;
	}
.accordion-header {
	border-left:1px solid #ffcc87;
	border-top:1px solid #FFF;
	background: #f7bc77;
	background: -moz-linear-gradient(top, #f7bc77 0%, #e18a56 100%);
	background: -webkit-linear-gradient(top, #f7bc77 0%,#e18a56 100%);
	background: -o-linear-gradient(top, #f7bc77 0%,#e18a56 100%);
	background: -ms-linear-gradient(top, #f7bc77 0%,#e18a56 100%);
	background: linear-gradient(to bottom, #f7bc77 0%,#e18a56 100%);
	text-shadow:0 1px 0 rgba(255,255,255,.6);
	border-bottom:1px solid rgba(0,0,0,.1);
	box-shadow:0 1px 1px rgba(60,50,0,.4);
	}

/* ELEMENTS: BUTTONS
	----------------------------------------------------------------*/
.btn {
	text-decoration:none;
	background:#F6A828;
	border:1px solid #FE8122;
	display:inline-block;
	border-radius:30px;
	font-size:14px;
	font-weight:bold;
	padding:7px 10px;
	color:#2F2417;
	text-align:center;
	cursor:pointer;
	min-width:100px;
}
.btn:hover {
	background:#FE7F29;
	color:#F0F0F0;
	background: -moz-linear-gradient(top, #fea639 0%, #fe7f29 100%);
	background: -webkit-linear-gradient(top, #fea639 0%,#fe7f29 100%);
	background: -o-linear-gradient(top, #fea639 0%,#fe7f29 100%);
	background: -ms-linear-gradient(top, #fea639 0%,#fe7f29 100%);
	background: linear-gradient(top, #fea639 0%,#fe7f29 100%);
}

/* SIZES */
.btn.large {
	font-size:16px;
	font-weight:bold;
	padding:12px 20px;
}
.btn.small {
	font-size:12px;
	font-weight:normal;
	padding:2px 3px;
	min-width:80px;
}


/* FOOTER
	----------------------------------------------------------------*/
#footer {
	background:#17c7d1;
	width:100%;
	border-top:1px solid #25b3bb;
	}
#footer .main {
	padding-top:65px;
	padding-bottom:40px;
	}
#footer a, #footer p {
	text-decoration:none;
	color:#fff;
	font-size:13px;
	line-height:20px;
	}
#footer a:hover {
	border-bottom:1px solid white;
	}
#footer h2 {
	color:#fff;
	margin-bottom:20px;
	}
#footer h4{color:#FFF;}
#newsletter input[type="text"] {
	background:white;
	border:0;
	padding:10px;
	line-height:20px;
	width:200px;
	border-radius:25px;
	}
#newsletter input[type="submit"] {
	background:#ffad40;
	border:0;
	display:inline-block;
	width:27px;
	height:27px;
	border-radius:14px;
	font-size:16px;
	color:#000;
	text-align:center;
	margin-left:12px;
	cursor:pointer;
	}
#newsletter + p {
	margin-top:20px;
	padding-top:10px;
	border-top: 1px solid rgba(143,89,29,0.2);	
	color:#FFF;
	}
.phone, .phone2 {
	padding-left:30px;
	background:url('../images/phone2.png') left center no-repeat;
	display:inline-block;
	height:24px;
	}
.app-phone {
	display:inline-block;
	margin-top:20px;
	padding:10px 20px 10px 50px;
	border-radius:50px;
	background:#ffad40 url('../images/app-phone.png') 15px 50% no-repeat;
	}


/* GOOGLE MAPS HIDDEN CONTAINER HACKS FOR MODAL WINDOW
	----------------------------------------------------------------*/
.gmaps_hidden_box {
	width:0; 
	height: 0; 
	overflow: hidden;
}
.gmaps_hidden_content {
	padding:10px; 
	background:#fff;
}
.gmaps_hidden_map {
	width:700px; 
	height:450px;
}



/* MEDIA QUERIES RULES FOR SMALL VIEWPORTS
	----------------------------------------------------------------*/
@media only screen and (min-width: 720px) and (max-width: 979px) {
	#name a {
		font-size:36px;
		line-height:63px;
		}
	.caption {
		font-size:36px;
		line-height:36px;
		margin-top:80px;
		}
	.description {
		margin-top:20px;
		font-size:14px;
		}
	ul#menuglowne li a.item {
		padding: 10px 13px;
		margin:7px 5px 0;
		font: 13px/30px Arial, sans-serif;
		}
	ul#menuglowne li:hover ul.sub {
		left: 5px;
		}
	#location h1 {
		margin-top:42px;
		font-family: Georgia, "Times New Roman", Times, serif;
		color:#fff;
		font-size:46px;
		text-shadow: 0px 2px 3px rgba(113,68,43,.26);
		line-height:63px;
		}
	#location p.white {
		font-size:13px;
		line-height:20px;
		}
	.testimonials {
		margin-left:-360px;
		}
	.testimonials p {
		padding: 20px 0 20px 30px;
		}
	.testbutton {
		position:absolute;
		right:0;
		bottom:-65px;
		}
	.gallery-slider a {
		width:80px;
		height:80px;
		}
	#newsletter input[type="text"] {
		width:150px;
		}
	.vertical-line {
		background-position:223px 0;
		}
	.borderimg {
		box-shadow: 0px 0px 0px 5px #EEE9DF;
		}
	.ui-datepicker, #app-form input[type="text"], form#commentform input[type="text"], form#commentform textarea, #contact_map {
		max-width:100%;
		box-sizing:border-box;
		}
	#blogslider p {
		font-size:14px;
		line-height: 24px;
		}
	#search-form input[type="submit"] {
		min-width:60px;
		}
	#search-form input[type="text"] {
		width:75px;
		}
	/* CUSTOM DROPDOWN FIXES */
	.cd-dropdown,
	.cd-select {
		width: 220px;
		}
	.cd-dropdown > span {
		width:200px;
		}
	.cd-dropdown ul li span {
		width: 170px;
		}
	.cd-dropdown ul {
		width: 220px;
		}
	.cd-dropdown ul li {
		position: absolute;
		width: 170px;
		pointer-events: none;
		}
	}

@media only screen and (max-width: 719px) {
	#mainslider .description {
		display:none;
		}
	ul#menuglowne {
		display:none;
		}
	div.menumobile {
		display:block;
		}
	#breadcrumbs { 
		margin-top:35px;
		}
	#breadcrumbs li {
		margin-right:5px;
		}
	#breadcrumbs li a {
		margin-right:5px;
		font-size:12px;
		}
	.gallery-slider a {
		width:50px;
		height:50px;
		border:2px solid #E18A55;
		}
	.mixedlist > div:nth-child(2n) img {
		float:none;
		margin-right:0;
		}
	.mixedlist > div:nth-child(2n+1) img {
		float:none;
		margin-left:0;
		}
	#app-form {
		text-align:left;
		}
	#blogslider h3 {
		margin-bottom:5px;
		}
	#blogslider p {
		display:none;
		}
	#blogslider img {
		max-height:170px;
		}
	.bx-pager {
		display:none;
		}
	.featuredposts {
		margin-top:20px;
		}
	#search-form {
		margin-top:50px;
		}
	.widget {
		margin-left:20px;
		}
	.vertical-line {
		background:none;
		}
	ul.children ul {
		margin-left:10px;
		}
	.comment-container {
		margin-left:70px;
		}
	.comment-text .fn {
		padding:10px 10px 10px 20px;
		}
	.commentmetadata {
		padding:10px;
		font-size:11px;
		}
	form#commentform input[type="text"], form#commentform textarea {
		width:90%;
		margin-bottom:10px;
		}
	#contact_map {
		max-width:90%;
		height:300px;
		}
	.cd-dropdown,
	.cd-select {
		width: 220px;
		}
	.cd-dropdown > span {
		width:200px;
		}
	.cd-dropdown ul li span {
		width: 170px;
		}
	.cd-dropdown ul {
		width: 220px;
		}
	.cd-dropdown ul li {
		position: absolute;
		width: 170px;
		pointer-events: none;
		}
	#rings, .testimonials {
		display:none;
		}
	#location {
		min-height:300px;
		}
	#footer {
		text-align:center !important;
		}
	#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
		margin-top:30px;
		}
	#errorheader {
		background:#ffad40 url(../images/small-bg1.jpg) center top no-repeat;
		margin-top:50px;
		}
	#errorheader .margintop {
		margin-top:25px;
		}
	}
